.black {
    color: black !important;
}

.lightgreen {
    color: chartreuse !important;
}

.red {
    color: red !important;
}

.white {
    color: white !important;
}

.orange {
    color: orange !important;
}

.bggrey {
    background-color: grey !important;
    border: none !important;
}

.bggrey:hover {
    cursor: default;
    background-color: grey !important;
    border: none !important;
}