* {
    margin: 0;
    padding: 0;
}

.fix {
    position: fixed;
    top: 0%;
}

#grid {
    display: grid;
    background-color: rgb(58, 58, 58);
    height: 30px;
    width: 100%;
    text-align: center;
    grid-template-columns: fit-content(100%) 1fr 30px 30px;
    grid-template-rows: 30px;
}

#name {
    padding: 5px;
    color: white;
    font-size: 15px !important;
}
  
#drag {
    -webkit-app-region: drag;
}
  
#mini {
    color: white;
    font-size: 20px !important;
}

#mini:hover {
    cursor: pointer;
    background-color: rgb(107, 107, 107);
}

#close {
    color: white;
    font-size: 25px !important;
}

#close:hover, #close:focus {
    cursor: pointer;
    background-color: rgb(247, 67, 67);
}